[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/varindertcs
[access "refs/for/refs/*"]
	read = group user/varindertcs
	push = group user/varindertcs
	label-Code-Review = -2..+2 group user/varindertcs
	label-Verified = -1..+1 group user/varindertcs
	rebase = group user/varindertcs
	removeReviewer = group user/varindertcs
	submit = group user/varindertcs
[access "refs/heads/*"]
	read = group user/varindertcs
	create = group user/varindertcs
	push = +force group user/varindertcs
	pushMerge = group user/varindertcs
[access "refs/tags/*"]
	push = +force group user/varindertcs
	pushTag = group user/varindertcs
	pushSignedTag = group user/varindertcs
